body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

/* NAVBAR */
.navbar {
  background: white;
  padding: 15px 20px;
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
